<style media="screen">
    .lined-up {
        margin-left: 20px;
    }
    li {
    height : 20px;
    width: 100px;
    margin-bottom: 5px;
    margin-right: 30px;
  }
  h1 {text-align: center;}
  .middle {
    margin-left: 40%;
    width: 20%;
    padding: 10px;
}
</style>

<h1>Eat-Da-Burger!</h1>

<div class="middle">
    <p>What would you like?</p>
    <input id="input-button" type="text"><br><br>
    <button onclick="submitButton()" class="btn btn-primary submit">Submit</button>
</div>

<ul>
    {{#each foods }}
    <li style="list-style-type:none; float: left" class="lined-up">{{@index}}:  {{this}}</li>
    <button style="float: left" style="display: inline" id={{this}} , onclick="devourButton(this)">Devour!</button>
    <br><br>
    {{/each}}
</ul>
{{#if eaten}}
<h3 style="margin-left: 70%">Eaten:</h3>
{{/if}}
<ul>
    {{#each eaten}}
    <li style="margin-left: 70%">{{this}}</li>
    {{/each}}
</ul>
<script>
    function devourButton(value) {
        const buttonInput = {};
        buttonInput["string"] = value.id;
        var opts = {
            method: 'POST',
            body: JSON.stringify(buttonInput),
            headers: {
                "Content-Type": "application/json"
            }
        };
        fetch('/burgers/devour', opts).then(function (response) {
            location.reload();      // essential to refresh the page
          });
    }

    function submitButton() {
        const buttonInput = {};
        buttonInput["string"] = document.getElementById("input-button").value;
        var opts = {
            method: 'POST',
            body: JSON.stringify(buttonInput),
            headers: {
                "Content-Type": "application/json"
            }
        };
        fetch('/burgers/submit', opts).then(function (response) {
            location.reload();      // essential to refresh the page
        })
    }
</script>